body {
    color: #eee;
    background-color: #222;
}

.container {
        margin-left: 12%;
        margin-right: 12%;
    }
    @media screen and (max-width: 600px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

h1 {
    text-align: center;
    padding-top: 10px;
}

p {
    font-size: 18px;
    text-align: center;
    padding: 0 0 5px 0;
}

label {
    font-size: 18px;
}

textarea {
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    height: 175px;
    line-height: 1.2;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: #000;
    color: #CCC;
}

.parent {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    @media screen and (max-width: 600px) {
    .parent {
        gap: 0;
    }
}

.child {
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 0 0 48%;
    }
    @media screen and (max-width: 600px) {
    .child {
        flex: 0 0 100%;
    }
}